/*****************************************
* START OF: FONTS
*****************************************/
	
@font-face {
	font-family: 'OptimaLTCYR-Roman';
	src: url('../fonts/2AAC49_0_0.eot');
	src: url('../fonts/2AAC49_0_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2AAC49_0_0.woff') format('woff'), url('../webfonts/2AAC49_0_0.ttf') format('truetype');
}

/*****************************************
* END OF: FONTS
*****************************************/


/*****************************************
* START OF: GENERAL
*****************************************/
html {
	width: 960px;	
	margin: 0 auto;
}
body {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	line-height: 13.5pt;
}
header {
  position: fixed;
  z-index: 100;
  max-width: 960px;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}
header img {
	width: 10%;
	height:auto;
  padding: 0px;
}

header .logo {
  flex: 1;
  width: 25%;
}

.logo {
  display: inline-flex;
  align-items: center;
}
.about-block {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 640px;
}
#main-container, footer {
	margin: 0 auto;
}
#main-content {
	margin-top: 8rem;
}

input[type="submit"] {
	background-color: transparent;
	border: 1px solid #D8D8D8;
	font-weight: bold;
	border-radius: 3px;
	color: #D8D8D8;
}
input[type="submit"]:not([disabled]) {
	color: white;
	/* Button Background: */
	background: #B4252D;
	background-image: -o-linear-gradient(-89deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
	background-image: -moz-linear-gradient(-89deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
	background-image: -ms-linear-gradient(-89deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
	background-image: linear-gradient(-179deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
	border: 1px solid #5D1317;
	-moz-box-shadow:    0px 1px 2px 0px rgba(255,0,0,0.20);
	box-shadow:         0px 1px 2px 0px rgba(255,0,0,0.20);
}
input:focus, textarea:focus, input[type="submit"]:not([disabled]):focus {
	-moz-box-shadow:    0px 0px 5px 2px rgba(208,1,26,0.50);
	box-shadow:         0px 0px 5px 2px rgba(208,1,26,0.50);
	outline:none;
}

#home-block {
	background-image: url(../images/Redwood-Offshore-Company-Formations-header.png);
	background-position: bottom right;
	background-repeat: no-repeat;
}
#services-block {
  background-image: url(../images/Redwood-Offshore-Company-Formations-header.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
#about-us-block {
  background-image: url(../images/About-Us-header.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
#jurisdictions-block {
	background-image: url(../images/Jurisdictions-header.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
/*****************************************
* END OF: GENERAL
*****************************************/
nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;

}

ul li a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #1B202B;
  padding-left: 1rem;
}

/*****************************************
* START OF: HEADINGS, PARAGRAPHS AND LISTS
*****************************************/
h1, h2, h3, h4, ul#main-list li, #footer-phone {
	font-family: OptimaLTCYR-Roman;
	font-weight: normal;
}
ul#main-list li[style="font-size: 10.5pt"], ul#main-list a[style="font-size: 10.5pt"] {
	line-height: 14px;
	/*min-height: 35px;*/
	height: 100%;
	padding-top: 8px;
	padding-bottom: 10px;
}
h1 {
	font-size: 27pt;
	color: #FFF;
	line-height: 44px;
	margin: 0 0 10px;
}
h2 {
	font-size: 30px;
	color: #b4252d;
	line-height: 36px;
	margin: 24px 0 16px;
}
h2:first-child {
	margin: 0px 0 16px;
}
h3 {
	font-size: 18pt;
	color: #000;
	line-height: 28px;
	margin: 24px 0 14px;
}
h4 {
	font-size: 13.5pt;
	color: #636466;
	line-height: 22px;
	margin: 15px 0 10px;
}
i.image-desc {
	font-size: 12px;
}
p, ul li span, ul li:last-child span {
	font-size: 9pt;
	line-height: 13.5pt;
	color: #000;
	margin: 0 0 9px 160px;
}
#main-content p {
    margin-top: 9px;
}
.before-list, #main-content ul li, #main-content ol li {
	margin: 0 0 0 160px;
}
header p {
	color: #FFF;
	margin: 0 0 9px;
}
#pdf-table {
	margin: 9px 0 0 160px;
}
#pdf-table td:nth-child(2) {
	padding: 0 10px;
}
#pdf-table p, #pdf-table a {
	font-size: 9pt;
	line-height: 13.5pt;
	color: #000;
	margin: 0;
}
#pdf-table p#pdf-size {
	color: #717274;
	font-style: italic;
}
#switcher a:last-child {
	margin-left: 20px;
}
#switcher a:first-child {
	margin-right: 10px;
}
#switcher {
	margin-bottom: 10px;
}
#switcher a {
	margin-top: 0 !important;
	font-size: 10.5pt !important;
	line-height: 13.5pt !important;
	display: inline-block !important;
	text-decoration: none !important;
	border-bottom: 1px dashed;
	margin-bottom: 0 !important;
}
#switcher a.switched {
	padding: 0 5px;
	border-bottom: none;
	color: #b4252d !important;
	cursor: default;
	background-color: #FFF;
	border-radius: 4px;
}
#brochure a, #popular a, #brochure p, #popular p {
	font-size: 10.5pt !important;
	line-height: 14px !important;
}
#brochure, #popular {
	margin-top: 15px;
}
#main-content a {
	color: #b4252d;
}
#main-content a:hover, header a:not(.switched):hover {
	color: #74171e !important;
}

/*****************************************
* END OF: HEADINGS, PARAGRAPHS AND LISTS
*****************************************/


/*****************************************
* START OF: MAIN BACKGROUND
*****************************************/

.main-bg {
	background-color: #b4252d;
	color: #FFFFFF !important;
}
.main-bg p, .main-bg a {
	color: #FFFFFF !important;
}


/*****************************************
* END OF: MAIN BACKGROUND
*****************************************/


/*****************************************
* START OF: 5- AND 6-COLUMN GRID
*****************************************/

.wrapper > [class^="grid-"] {
	float: left;
	min-height: 1px;
	margin-left: 20px;
}
.wrapper > [class^="grid-"]:first-child {
	margin-left: 10px;
}
.wrapper > [class^="grid-"]:last-child {
	float: right;
	margin-right: 10px;
}
.wrapper:after {
	content: ' ';
	display: table;
	clear: both;
}
.grid-6-1 {
	width: 140px;
}
.grid-6-2 {
	width: 300px;
}
.grid-6-5 {
	width: 780px;
}


/*****************************************
* END OF: 5- AND 6-COLUMN GRID
*****************************************/


/*****************************************
* START OF: HEADER
*****************************************/


#main-logo {
	width: 140px;
	float: left;
	padding: 10px 10px 0;
}

/* Main menu */ 
#main-menu {
	width: 160px;
	float: left;
	margin: 10px 0 0;
	
	background-color: #9a2026;
}
#about-us-block a, #services-block a {
	display: block;
	color: #FFF;
	font-size: 10.5pt;
	line-height: 20px;
	margin: 10px 0;
}
header div div p {
	font-size: 10.5pt;
	line-height: 20px;
	margin: 10px 0;
}
header div div a:first-child, header div div p:first-child {
	margin-top: 0 !important;
}
#jurisdictions-block p {
	font-size: 9pt;
	line-height: 14px;
	margin: 7px 0;
}
#jurisdictions-block a {
	display: block;
	color: #FFF;
	font-size: 9pt;
	line-height: 14px;
	margin: 7px 0;
}
#jurisdictions-block h4 {
	font-size: 13.5pt;
	color: #FFF;
	line-height: 22px;
	margin: 0 0 11px;
	font-weight: normal;
	background: url(../images/px-white.gif) bottom left repeat-x;
}
#jurisdictions-block h4:not(:first-child) {
	margin: 15px 0 11px;
}
#jurisdictions-block > div:nth-child(1) h4 {
	margin-bottom: 6px; 
}
#jurisdictions-block > div:nth-child(2) h4 {
	margin-top: 15px; 
}
#jurisdictions-block #all div:first-child div:last-child h4 {
	margin: 15px 0 11px;
}
#main-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#main-menu > ul li {
	text-decoration: none;
	color: #FFF;
	font-size: 13.5pt;
	line-height: 35px;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
	position: relative;
	z-index: 0;
}

#main-menu ul li[value="1"] a {
	color: #FFF;
	display: block;
}
#main-menu ul li.hovered-empty {
	background-color: #a62329 !important;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(96, 2, 2, 0.75);
	-moz-box-shadow:    0px 2px 6px 0px rgba(96, 2, 2, 0.75);
	box-shadow:         0px 2px 6px 0px rgba(96, 2, 2, 0.75);
}
#main-menu ul li.hovered-empty a {
	color: #74171e;
}
#main-menu > ul li.hovered {
	background-color: #b4252d !important; 
	color: #74171e !important;
	z-index: 2 !important;
}
#main-menu > ul li.hovered {
	-webkit-box-shadow: -4px 4px 12px -4px rgba(96, 2, 2, 0.75);
	-moz-box-shadow:    -4px 4px 12px -4px rgba(96, 2, 2, 0.75);
	box-shadow:         -4px 4px 12px -4px rgba(96, 2, 2, 0.75);
}

/* Submenu */
.submenu-container, .default-block {
	min-height: 159px;
	width: 620px;
	padding: 10px;
	margin-top: 10px;
	-webkit-box-shadow: 0px 4px 12px 0px rgba(96, 2, 2, 0.75);
	-moz-box-shadow:    0px 4px 12px 0px rgba(96, 2, 2, 0.75);
	box-shadow:         0px 4px 12px 0px rgba(96, 2, 2, 0.75);

}
.submenu-container {
	position: absolute;
	right: 0;
	z-index: 1;
	display: none;
}
.default-block {
	float: right;
	position: relative;
}
.hidden {
	visibility: hidden;
}
#main-menu > ul li:not([class*="hovered"]) {
	text-shadow: 0px 1px 1px rgba(96, 2, 2, 0.75);
	-webkit-box-shadow: 0px 2px 6px 0px rgba(96, 2, 2, 0.75);
	-moz-box-shadow:    0px 2px 6px 0px rgba(96, 2, 2, 0.75);
	box-shadow:         0px 2px 6px 0px rgba(96, 2, 2, 0.75);
}
#main-menu > ul li:not(:last-child) {
	background: url(../images/px.gif) bottom left repeat-x;
}


/*****************************************
* END OF: HEADER
*****************************************/


/*****************************************
* START OF: CONTENT TABLE
*****************************************/

#content-table {
	width: 620px;
}
#content-table th h4 {
	margin: 0;
	color: #b4252d;
	text-align: left;
}
#content-table th {
	padding-top: 14px;
	padding-bottom: 5px;
	background: url(../images/px.gif) bottom left repeat-x;
}
#content-table tr td {
	padding-top: 9px;
	vertical-align: top;
}
#content-table tr td:first-child {
	padding-left: 160px;
	font-weight: bold;
}
#content-table tr td:last-child {
	width: 140px;
}


/*****************************************
* END OF: CONTENT TABLE
*****************************************/


/*****************************************
* START OF: FOOTER
*****************************************/

footer img {
	margin-right: 3px;
	margin-left: 5px;
}
#footer-phone {
	line-height: 100% !important;
	margin: 12px 0 8px !important;
	font-size: 30px !important;

}
#footer-skype {
	display: inline-block !important;
	padding-left: 18px !important;
	background: url(../images/skype-icon.png) no-repeat left center;
	margin: 0 0 12px 5px !important;
}
#footer-container {
	width: 100%;
	margin-top: 20px;
}
#footer-container p {
	margin: 12px 0 0;
}
#footer-container .grid-6-2 {
	position: relative;
}


/*****************************************
* END OF: FOOTER
*****************************************/


/*****************************************
* START OF: SITEMAP
*****************************************/

#sitemap p {
    margin: 0 !important;
}
#sitemap li {
    margin-left: 50px !important;
}
#sitemap > ul > li {
    margin-left: 0 !important;
}


/*****************************************
* END OF: SITEMAP
*****************************************/