/*****************************************
* START OF: FONTS
*****************************************/
	
@font-face {
	font-family: 'OptimaLTCYR-Roman';
	src: url('../fonts/2AAC49_0_0.eot');
	src: url('../fonts/2AAC49_0_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2AAC49_0_0.woff') format('woff'), url('../webfonts/2AAC49_0_0.ttf') format('truetype');
}

/*****************************************
* END OF: FONTS
*****************************************/


/*****************************************
* START OF: GENERAL
*****************************************/
html {	
	margin: 0 auto;
	font-size: 16px;
}
body {
	font-family: Arial, sans-serif;
	line-height: 13.5pt;
}
.flex-nav-container {
	display: flex;
	flex-direction: row;
	align-content: space-between;
}

header img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
}

#logonav{
	padding-top: 10px;
	padding-left: 10px;
}
.dropdown-menu {
	min-width: 200px;
	background-color: #b4252d;
	color: #fff;
}
.dropdown-menu li a {
	background-color: #b4252d;
	color: #fff;
}
.dropdown-menu li a:hover{
	background-color: #74171e;
	color:#262626;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 800px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
	padding-left: 5px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.3;
	background-color: #b4252d;
	color: #fff;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration:underline;
	color: #262626;
	background-color: #74171e;
}

/*//Copy this css*/
.navbar {
	background-color: #b4252d;
	padding-top:0;
	padding-bottom: 0;

}
.navbar-brand , .nav-link {
	color:#f5f5f5;
	cursor: pointer;
}
.nav-link{
	margin-right: 1em;
}
.nav-link:hover{
	background-color: #74171e;
	color:#262626;
}
.navbar-collapse{
	justify-content: flex-start;
}
.navbar-toggler{
	background-color: #fff;
}
.nav-item {
	color:#f5f5f5;
}
.btco-menu li > a {
    padding: 10px 15px;
    color: #000;

}

.btco-menu .active a:focus,
.btco-menu li a:focus ,
.navbar > .show > a:focus{
    background: transparent;
    outline: 0;
}


.dropdown-menu .show > .dropdown-toggle::after{
    transform: rotate(-90deg);
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}
#landing {
	display: flex;
	display: -ms-flexbox;
  	display: -webkit-flex;
  	-ms-flex: 1 1 auto;
	padding-top: 12em;
	padding-bottom: 2em;
	border-bottom: solid 1px #c6c1c1;
} 
.banner-col-left {
  width: 170px;
}
.banner-col-right {
  width: 75%;
}

.banner-img {
  height: auto;
  padding-top: 20px;
  padding-left: 10px;
}

.banner-img img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
}

.banner-content {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60rem;
  -ms-flex: 1 1 auto;
}
.flex-child {
    display: block;
    max-width: 75%;
    -ms-flex: 1 1 auto;
}
#landing a {
  background-color: #B4252D;
  width: 50%;
  margin-right: 1rem;
  text-align: center;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFFFFF;
}
footer {
	margin: 0 auto;
}


/*****************************************
* END OF: GENERAL
*****************************************/



/*****************************************
* START OF: HEADINGS, PARAGRAPHS AND LISTS
*****************************************/
h1, h2, h3, h4, ul#main-list li, #footer-phone {
	font-family: OptimaLTCYR-Roman;
	font-weight: normal;
}

h1 {
	font-size: 2rem;
	color: #000;
	line-height: 1.5;
}
h2 {
	font-size: 30px;
	color: #b4252d;
	line-height: 36px;
	margin: 24px 0 16px;
}
h2:first-child {
	margin: 0px 0 16px;
}
h3 {
	font-size: 18pt;
	color: #000;
	line-height: 28px;
	margin: 24px 0 14px;
}
h4 {
	font-size: 13.5pt;
	color: #636466;
	line-height: 22px;
	margin: 15px 0 10px;
}
i.image-desc {
	font-size: 12px;
}
p, ul li span, ul li:last-child span {
	font-size: 1rem;
	line-height: 1.2;
	color: #000;
}
#main-content {
	margin-top:10px;
}
#main-content p {
    margin-top: 9px;
}

header p {
	color: #FFF;
	margin: 0 0 9px;
}
#pdf-table {
	margin: 9px 0 0 160px;
}
#pdf-table td:nth-child(2) {
	padding: 0 10px;
}
#pdf-table p, #pdf-table a {
	font-size: 9pt;
	line-height: 13.5pt;
	color: #000;
	margin: 0;
}
#pdf-table p#pdf-size {
	color: #717274;
	font-style: italic;
}
#switcher a:last-child {
	margin-left: 20px;
}
#switcher a:first-child {
	margin-right: 10px;
}
#switcher {
	margin-bottom: 10px;
}
#switcher a {
	margin-top: 0 !important;
	font-size: 10.5pt !important;
	line-height: 13.5pt !important;
	display: inline-block !important;
	text-decoration: none !important;
	border-bottom: 1px dashed;
	margin-bottom: 0 !important;
}
#switcher a.switched {
	padding: 0 5px;
	border-bottom: none;
	color: #b4252d !important;
	cursor: default;
	background-color: #FFF;
	border-radius: 4px;
}
#brochure a, #popular a, #brochure p, #popular p {
	font-size: 10.5pt !important;
	line-height: 14px !important;
}
#brochure, #popular {
	margin-top: 15px;
}
#main-content a {
	color: #b4252d;
}
#main-content a:hover, header a:not(.switched):hover {
	color: #74171e !important;
}

/*****************************************
* END OF: HEADINGS, PARAGRAPHS AND LISTS
*****************************************/


/*****************************************
* START OF: MAIN BACKGROUND
*****************************************/

.main-bg {
	background-color: #b4252d;
	color: #FFFFFF !important;
}
.main-bg p, .main-bg a {
	color: #FFFFFF !important;
}


/*****************************************
* END OF: MAIN BACKGROUND
*****************************************/


/*****************************************
* START OF: 5- AND 6-COLUMN GRID
*****************************************/
.flex-container {
	display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}
.wrapper > [class^="grid-"] {
	float: left;
	min-height: 1px;
	margin-left: 20px;
}
.wrapper > [class^="grid-"]:first-child {
	margin-left: 10px;
}
.wrapper > [class^="grid-"]:last-child {
	float: right;
	margin-right: 10px;
}
.wrapper:after {
	content: ' ';
	display: table;
	clear: both;
}
.grid-6-1 {
	width: 140px;
}
.grid-6-2 {
	width: 300px;
}
.grid-6-5 {
	width: 780px;
}


/*****************************************
* END OF: 5- AND 6-COLUMN GRID
*****************************************/


/*****************************************
* START OF: HEADER
*****************************************/


#main-logo {
	width: 100px;
	float: left;
	padding: 10px 10px 0;
}

/* Main menu */ 
#main-menu {
	width: 160px;
	float: left;
	margin: 10px 0 0;
	
	background-color: #9a2026;
}
#about-us-block a, #services-block a {
	display: block;
	color: #FFF;
	font-size: 10.5pt;
	line-height: 20px;
	margin: 10px 0;
}
header div div p {
	font-size: 10.5pt;
	line-height: 20px;
	margin: 10px 0;
}
header div div a:first-child, header div div p:first-child {
	margin-top: 0 !important;
}
#jurisdictions-block p {
	font-size: 9pt;
	line-height: 14px;
	margin: 7px 0;
}
#jurisdictions-block a {
	display: block;
	color: #FFF;
	font-size: 9pt;
	line-height: 14px;
	margin: 7px 0;
}
#jurisdictions-block h4 {
	font-size: 13.5pt;
	color: #FFF;
	line-height: 22px;
	margin: 0 0 11px;
	font-weight: normal;
	background: url(../images/px-white.gif) bottom left repeat-x;
}
#jurisdictions-block h4:not(:first-child) {
	margin: 15px 0 11px;
}
#jurisdictions-block > div:nth-child(1) h4 {
	margin-bottom: 6px; 
}
#jurisdictions-block > div:nth-child(2) h4 {
	margin-top: 15px; 
}
#jurisdictions-block #all div:first-child div:last-child h4 {
	margin: 15px 0 11px;
}
#main-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.dropdown-header {
	font-size: 10pt;
	font-style:italic;
}
.dropdown-item {
	font-size: 8pt;
}

#main-menu > ul li {
	text-decoration: none;
	color: #FFF;
	font-size: 13.5pt;
	line-height: 35px;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
	position: relative;
	z-index: 0;
}

#main-menu ul li[value="1"] a {
	color: #FFF;
	display: block;
}
#main-menu ul li.hovered-empty {
	background-color: #a62329 !important;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(96, 2, 2, 0.75);
	-moz-box-shadow:    0px 2px 6px 0px rgba(96, 2, 2, 0.75);
	box-shadow:         0px 2px 6px 0px rgba(96, 2, 2, 0.75);
}
#main-menu ul li.hovered-empty a {
	color: #74171e;
}
#main-menu > ul li.hovered {
	background-color: #b4252d !important; 
	color: #74171e !important;
	z-index: 2 !important;
}
#main-menu > ul li.hovered {
	-webkit-box-shadow: -4px 4px 12px -4px rgba(96, 2, 2, 0.75);
	-moz-box-shadow:    -4px 4px 12px -4px rgba(96, 2, 2, 0.75);
	box-shadow:         -4px 4px 12px -4px rgba(96, 2, 2, 0.75);
}

/* Submenu */
.submenu-container, .default-block {
	min-height: 159px;
	width: 620px;
	padding: 10px;
	margin-top: 10px;
	-webkit-box-shadow: 0px 4px 12px 0px rgba(96, 2, 2, 0.75);
	-moz-box-shadow:    0px 4px 12px 0px rgba(96, 2, 2, 0.75);
	box-shadow:         0px 4px 12px 0px rgba(96, 2, 2, 0.75);

}
.submenu-container {
	position: absolute;
	right: 0;
	z-index: 1;
	display: none;
}
.default-block {
	float: right;
	position: relative;
}
.hidden {
	visibility: hidden;
}
#main-menu > ul li:not([class*="hovered"]) {
	text-shadow: 0px 1px 1px rgba(96, 2, 2, 0.75);
	-webkit-box-shadow: 0px 2px 6px 0px rgba(96, 2, 2, 0.75);
	-moz-box-shadow:    0px 2px 6px 0px rgba(96, 2, 2, 0.75);
	box-shadow:         0px 2px 6px 0px rgba(96, 2, 2, 0.75);
}
#main-menu > ul li:not(:last-child) {
	background: url(../images/px.gif) bottom left repeat-x;
}


/*****************************************
* END OF: HEADER
*****************************************/


/*****************************************
* START OF: CONTENT TABLE
*****************************************/

#content-table {
	width: 620px;
}
#content-table th h4 {
	margin: 0;
	color: #b4252d;
	text-align: left;
}
#content-table th {
	padding-top: 14px;
	padding-bottom: 5px;
	background: url(../images/px.gif) bottom left repeat-x;
}
#content-table tr td {
	padding-top: 9px;
	vertical-align: top;
}
#content-table tr td:first-child {
	padding-left: 160px;
	font-weight: bold;
}
#content-table tr td:last-child {
	width: 140px;
}


/*****************************************
* END OF: CONTENT TABLE
*****************************************/


/*****************************************
* START OF: FOOTER
*****************************************/

footer img {
	margin-right: 3px;
	margin-left: 5px;
}
#footer-phone {
	line-height: 100% !important;
	margin: 12px 0 8px !important;
	font-size: 30px !important;

}
#footer-skype {
	display: inline-block !important;
	padding-left: 18px !important;
	background: url(../images/skype-icon.png) no-repeat left center;
	margin: 0 0 12px 5px !important;
}
#footer-container {
	width: 100%;
	margin-top: 20px;
}
#footer-container p {
	margin: 12px 0 0;
}
#footer-container .grid-6-2 {
	position: relative;
}


/*****************************************
* END OF: FOOTER
*****************************************/


/*****************************************
* START OF: SITEMAP
*****************************************/

#sitemap p {
    margin: 0 !important;
}
#sitemap li {
    margin-left: 50px !important;
}
#sitemap > ul > li {
    margin-left: 0 !important;
}


/*****************************************
* END OF: SITEMAP
*****************************************/